.esg-overlay.eg-nucleus-with-image-container {
    background-color: rgba(5, 4, 4, 0.55)
}
.esg-overlay.eg-nucleus-with-image-large-container {
    background-color: rgba(5, 4, 4, 0.55)
}
.esg-overlay.eg-nucleus-with-image-light-container {
    background-color: rgba(5, 4, 4, 0.55)
}
.esg-grid i {
    display: inline !important;
    color:
}
.esg-cc.eec i {
    color: #fff;
}