
/* 
*	=================================================================================================================================================
*	GENERATED CSS FILE
*	=================================================================================================================================================
*/

.rigel_typo_headers {
	font-family: 'montserrat' !important;
}
.rigel_typo_menu {
	    font-family: Poppins !important;
}

h1, h2, h3, h4, h5, h6:not(.rigel_blog_legend_descr), .title_medium, .title_large, .sub_title, .rigel_footer_contact a {
	font-family: 'montserrat';
	line-height: 33px ;
    color: #28262b;
	letter-spacing: ;
	}
	
.woocommerce .product p.price, .woocommerce .product span.price, .woocommerce .product form.cart .variations td.label, .footer-wraper .rigel_social_networks li span a
	{
		color: #28262b !important;
	}

	.rigel_menu_content_holder ul li a, .header_menu > li > .my_drop > ul > li > a { 
	font-weight: Poppins !important;
    font-family: Poppins !important;
    font-size: 13px !important;
    line-height: 22px !important;
	color: #ffffff !important;

}
body, dl, dt, dd, ul, ol, li, pre, form, blockquote, th, td {
	font-family: 'Source Sans Pro' ;
	font-size: 14px ;
    line-height: 33px ;
    color: #565656 ;
	letter-spacing:  !important;
	
}

.minimal-light .esg-filterbutton, .esg-cc, .esg-sortbutton, .woocommerce .product form.cart .variations td.label, .woocommerce div.product form.cart .variations select { 
font-family: montserrat !important;
}

.wpb_accordion_header a, .rigel_price_ul li, #menu-word, .logo-tagline, .rigel_logo_holdred a, .achievements h4, .achievements h3, .esg-slidedown {
font-family: 'montserrat' !important;}

.rigel_typo_body {
	font-family: 'Source Sans Pro' ;
	}


.title_bg:before{ background-color:#3d4b60 !important; }

.awesome_title{
   text-shadow: 5px 3px 0 #ffffff,
   6px 4px 0 #3d4b60,
   4px 4px 0 #3d4b60,
   4px 2px 0 #3d4b60,
   5px 3px 0 #3d4b60,
   -1px 7px 0 #f2f1f1,
   -2px 8px 0 #3d4b60,
   -2px 6px 0 #3d4b60,
   6px 2px 0 #3d4b60,
   0 8px 0 #3d4b60;
}

.rigel_menu_content_holder > ul > li:hover > a {color:#3d4b60 !important;}
.widget_price_filter .ui-slider .ui-slider-range, .eg-rigel-simple-shop-element-21, .eg-rigel-pricing-element-9 { background:#3d4b60 !important}
.shop-item-number, .widget_price_filter .ui-slider .ui-slider-range { background:#3d4b60}
.richard-skin .esg-filter-checked, .richard-skin-right .esg-navigationbutton:hover, .richard-skin-right .esg-filterbutton:hover, .richard-skin-right .esg-sortbutton:hover, .richard-skin-right .esg-sortbutton-order:hover, .richard-skin-right .esg-cartbutton-order:hover, .richard-skin-right .esg-filterbutton.selected
 {color:#3d4b60 !important}
h5.rigel_port_date, .footer-main a:hover  {color:#3d4b60 !important}
.rigel_readmore_btn {color:#3d4b60}
.colored { color:#3d4b60}
.rigel_blog_meta a:hover {color:#3d4b60}
.rigel_menu_content_holder > ul > li.current-menu-item > a, .rigel_menu_content_holder > ul > li.current-menu-parent > a{ color:#3d4b60 !important; }
.header_menu > li:hover > .my_drop .current-menu-item a {color:#3d4b60!important;}
.header_menu > li.current-menu-ancestor > a {color:#3d4b60!important;}
.rigel_tabs li.active a, .rigel_tabs li a:hover { color:#3d4b60}
.filter_button:hover {color:#3d4b60; text-decoration:none;}
.filter_current { color:#3d4b60; }
.woocommerce span.onsale, .woocommerce span.onsale:after { background:#3d4b60 !important; }
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price { color:#3d4b60 !important; }
.filter_current:hover { color:#3d4b60; text-decoration:none;}
.rigel_load_more:hover,.search-section i:hover,.chart-section i:hover, #searchform #searchsubmit { background:#3d4b60;}
.list-star li:before {color:#3d4b60}
.wpcf7-submit:hover { background:#3d4b60; }
.wpcf7-validation-errors, .wpcf7-mail-sent-ok { background:#3d4b60;}
.rigel_news_title a:hover { color:#3d4b60; }
.rigel_widget .current-menu-item a { color:#3d4b60 !important}
.rigel_widget ul:not(#cbox) li a:hover {  color:#3d4b60;}
.rigel_widget ul:not(#cbox) li a:hover:before{	color:#3d4b60;}
.rigel_widget .menu li li.current_page_item a, .esg-navigationbutton:hover i
 { color:#3d4b60 !important}
h3.rigel_blog_post_title a:hover { color:#3d4b60; }
#wp-calendar a { color:#3d4b60}
#wp-calendar caption { color:#3d4b60}
.rigel_tweet a:hover { color:#3d4b60;}
.rigel_tweet_time > a.twitter_time { color:#3d4b60; }
.tagcloud a:hover { color:#3d4b60; }
.fn a, .rigel_commente_holder h4 a { color:#3d4b60}
.rigel_ticket_commentlist .comment-author  .fn{ color:#3d4b60;}
.rigel_ticket_commentlist .comment-body .reply .comment-reply-link { color:#3d4b60; }
.rigel_ticket_commentlist > li > .comment-body .reply .comment-reply-link { color:#3d4b60;}
.rigel_footer_holder {background:#f4f4f1}
.rigel_footer_holder {   border-top: 1px solid #E0E0E0}
.rigel_footer_custom_content, .rigel_footer_custom_content   p, .rigel_footer_custom_content   i, 
.rigel_footer_custom_content .rigel_soc_icons a, .rigel_footer_custom_content .rigel_soc_icons a:before, .rigel_footer_contact h3, .footer-wraper .rigel_footer_contact h5, .footer-wraper .rigel_footer_contact span a  {   color: #8E8E8E !important}
.rigel_footer_custom_content .rigel_soc_icons a:before{   border: 1px solid #8E8E8E !important}
.woocommerce-product-search input[type="submit"] { background:#3d4b60}
.cart_list.product_list_widget .remove:hover { background:#3d4b60}
.cart_list.product_list_widget .remove { color:#3d4b60 !important}





.rigel_footer_custom_content  {
background-image: url(http://localhost:50430/wp-content/uploads/2011/07/windmill-4.jpg);
background-repeat: no-repeat;
background-position: center top;
background-size: cover;
background-attachment: scroll;
background-color: transparent;
}
.side_menu .rigel_header_holder.header_v5, .header_v5 .header_menu > li > .my_drop  {
background-image: url(http://localhost:50430/wp-content/uploads/2016/05/new_mountains.jpg);
background-repeat: no-repeat;
background-position: left center;
background-size: cover;
background-attachment: fixed;
background-color: #03002d;
}

.rigel_strange_portfolio_item .rigel_mask {background-color:#444444 !important;}
.rigel_mask .rigel_port_title, .rigel_small_descr, rigel_port_cats {color:#ffffff !important;}

html {
border-top: 0px;
border-right: 0px;
border-bottom: 0px;
border-left: 0px;
border-style: none;
border-color: #81d742;
}


