
/* 
*	=================================================================================================================================================
*	GENERATED CSS FILE
*	=================================================================================================================================================
*/

.rigel_typo_headers {
	font-family: 'montserrat' !important;
}
.rigel_typo_menu {
	    font-family: montserrat !important;
}

h1, h2, h3, h4, h5, h6:not(.rigel_blog_legend_descr), .title_medium, .title_large, .sub_title, .rigel_footer_contact a {
	font-family: 'montserrat';
	line-height: 33px ;
    color: #28262b;
	letter-spacing: ;
	}
	
.woocommerce .product p.price, .woocommerce .product span.price, .woocommerce .product form.cart .variations td.label, .footer-wraper .rigel_social_networks li span a
	{
		color: #28262b !important;
	}

	.rigel_menu_content_holder > ul > li > a, .header_menu > li > .my_drop > ul > li > a { 
	font-weight: montserrat !important;
    font-family: montserrat !important;
    font-size: 13px !important;
    line-height: 22px !important;
	color: #28262b !important;

}
body, dl, dt, dd, ul, ol, li, pre, form, blockquote, th, td {
	font-family: 'Source Sans Pro' ;
	font-size: 14px ;
    line-height: 33px ;
    color: #565656 ;
	letter-spacing:  !important;
	
}

.minimal-light .esg-filterbutton, .esg-cc, .esg-sortbutton, .woocommerce .product form.cart .variations td.label, .woocommerce div.product form.cart .variations select { 
font-family: montserrat !important;
}

.wpb_accordion_header a, .rigel_price_ul li, #menu-word, .logo-tagline, .rigel_logo_holdred a, .achievements h4, .achievements h3, .esg-slidedown {
font-family: 'montserrat' !important;}

.rigel_typo_body {
	font-family: 'Source Sans Pro' ;
	}





.rigel_menu_content_holder > ul > li:hover > a {color:#e5bcdd !important;}
.widget_price_filter .ui-slider .ui-slider-range, .eg-rigel-simple-shop-element-21, .eg-rigel-pricing-element-9 { background:#e5bcdd !important}
.shop-item-number, .widget_price_filter .ui-slider .ui-slider-range { background:#e5bcdd}
.richard-skin .esg-filter-checked, .richard-skin-right .esg-navigationbutton:hover, .richard-skin-right .esg-filterbutton:hover, .richard-skin-right .esg-sortbutton:hover, .richard-skin-right .esg-sortbutton-order:hover, .richard-skin-right .esg-cartbutton-order:hover, .richard-skin-right .esg-filterbutton.selected
 {color:#e5bcdd !important}
h5.rigel_port_date, .footer-main a:hover  {color:#e5bcdd !important}
.rigel_readmore_btn {color:#e5bcdd}
.colored { color:#e5bcdd}
.rigel_blog_meta a:hover {color:#e5bcdd}
.rigel_menu_content_holder > ul > li.current-menu-item > a, .rigel_menu_content_holder > ul > li.current-menu-parent > a{ color:#e5bcdd !important; }
.header_menu > li:hover > .my_drop .current-menu-item a {color:#e5bcdd!important;}
.header_menu > li.current-menu-ancestor > a {color:#e5bcdd!important;}
.rigel_tabs li.active a, .rigel_tabs li a:hover { color:#e5bcdd}
.filter_button:hover {color:#e5bcdd; text-decoration:none;}
.filter_current { color:#e5bcdd; }
.woocommerce span.onsale, .woocommerce span.onsale:after { background:#e5bcdd !important; }
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price { color:#e5bcdd !important; }
.filter_current:hover { color:#e5bcdd; text-decoration:none;}
.rigel_load_more:hover,.search-section i:hover,.chart-section i:hover, #searchform #searchsubmit { background:#e5bcdd;}
.list-star li:before {color:#e5bcdd}
.wpcf7-submit:hover { background:#e5bcdd; }
.wpcf7-validation-errors, .wpcf7-mail-sent-ok { background:#e5bcdd;}
.rigel_news_title a:hover { color:#e5bcdd; }
.rigel_widget .current-menu-item a { color:#e5bcdd !important}
.rigel_widget ul:not(#cbox) li a:hover {  color:#e5bcdd;}
.rigel_widget ul:not(#cbox) li a:hover:before{	color:#e5bcdd;}
.rigel_widget .menu li li.current_page_item a, .esg-navigationbutton:hover i
 { color:#e5bcdd !important}
h3.rigel_blog_post_title a:hover { color:#e5bcdd; }
#wp-calendar a { color:#e5bcdd}
#wp-calendar caption { color:#e5bcdd}
.rigel_tweet a:hover { color:#e5bcdd;}
.rigel_tweet_time > a.twitter_time { color:#e5bcdd; }
.tagcloud a:hover { color:#e5bcdd; }
.fn a, .rigel_commente_holder h4 a { color:#e5bcdd}
.rigel_ticket_commentlist .comment-author  .fn{ color:#e5bcdd;}
.rigel_ticket_commentlist .comment-body .reply .comment-reply-link { color:#e5bcdd; }
.rigel_ticket_commentlist > li > .comment-body .reply .comment-reply-link { color:#e5bcdd;}
.rigel_footer_holder {background:#f4f4f1}
.rigel_footer_holder {   border-top: 1px solid #E0E0E0}
.rigel_footer_custom_content, .rigel_footer_custom_content   p, .rigel_footer_custom_content   i, 
.rigel_footer_custom_content .rigel_soc_icons a, .rigel_footer_custom_content .rigel_soc_icons a:before, .rigel_footer_contact h3, .footer-wraper .rigel_footer_contact h5, .footer-wraper .rigel_footer_contact span a  {   color: #8E8E8E !important}
.rigel_footer_custom_content .rigel_soc_icons a:before{   border: 1px solid #8E8E8E !important}
.woocommerce-product-search input[type="submit"] { background:#e5bcdd}
.cart_list.product_list_widget .remove:hover { background:#e5bcdd}
.cart_list.product_list_widget .remove { color:#e5bcdd !important}





.rigel_footer_custom_content  {
background-image: url();
background-repeat: ;
background-position: ;
background-size: ;
background-attachment: ;
background-color: #ffffff;
}

.rigel_strange_portfolio_item .rigel_mask {background-color:#444444 !important;}
.rigel_mask .rigel_port_title, .rigel_small_descr, rigel_port_cats {color:#ffffff !important;}

html {
border-top: 30px;
border-right: 40px;
border-bottom: 50px;
border-left: 60px;
border-style: solid;
border-color: #eeee22;
}


